@import '_properties.scss';

//Main Container
.search-container {
    background-color: $background-dark; 
    height: 105vh;

    //Menu Container
    .ui.inverted.menu {
        justify-content: center;
        background-color: transparent;
        padding-top: 1.5em;
        width: 100%;

        //Search Bar input container
        .item {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.267);
            border-radius: 100px;

            input {
                background-color: transparent;
                border: none;
            }
        }
    }
}

//fix a little line

div.item::before {
    background: transparent !important;
}

// Input field Place holder modification
.input-custom {
    font-family: sans-serif;
    font-weight: bolder;

    ::placeholder {
        color: white;
        font-weight: bolder;
    }
}

// Stacking Text over images
.image-container {
    position: relative;
    height: 300px;

    //heart ♥
    i {
        position: relative;
        color: white;
        z-index: 1;
        left: 80%;
        top: 33%;
    }

    .image-custom {
        object-fit: cover;
        width: 100vw;
        //If you change the height , you need to go to Search.js and change the const HorizontalScrollHeight -> Top
        height: 300px;
        border-radius: 20px;
        position: absolute;
        z-index: 0;
    }

    .image-content {
        position: relative;
        top: 190px; //Controls location of overlaying elements on the main image
        height: 100px;
        width: 100%;
        margin: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, .6);
        padding-left: .7em;
        padding-top: .5em;

        .wrapper {
            position: relative;
            top: -60px;

            .date {
                margin: 0.5em 0;
                display: block;
                height: 60px;
                width: 60px;

                #cap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px 20px 0 0;
                    background-color: rgb(255, 255, 255);
                    height: 60%;
                    width: 100%;
                    color: black;
                    font-size: xx-large;
                }

                #noCap {
                    color: white;
                    background-color: rgb(230, 24, 120);
                    height: 40%;
                    width: 100%;
                }

                #cap,
                #noCap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                }
            }
        }

        h1 {
            font-size: larger;
        }

        h1,
        p {
            color: white;
        }

    }
}

// Heading
.heading {
    margin: 1em 0 0.75em 0;
}


//Carousel 

.scroll-horizontal {
    margin: auto;
}

//carousel Cards
.cards {
    border-radius: 15px;
    margin-right: 1em;


}

//Carousel Cards images
.scroll-images {
    object-fit: cover;
    height: 100%;
    border-radius: 15px !important;
}

// Text on Cards
.labelName {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba($color: #000000, $alpha: 0.5);
    height: 30%;
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    top: -14vw;
    z-index: 3;
}